:root {
  --primary: #FFA726;
  --secondary: #788694;
  --tertiary: #D25F2C88;
  --light: #B6E3FB;
  --dark: #000000;
  --link-hover: #f1f1f1;
  --section-hover: #434647;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--secondary);
  color: var(--light);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
	margin: 0 auto;
	max-width: 90%;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--link-hover);
}


header {
  background: var(--dark);
  font-family: none;
  font-size: 25px;
  width: 100%;
  border-bottom: 7px solid #FFA726; 
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

header a {
  color: var(--light);
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer a{
  background-color: #727880;
  border: 5px solid var(--light);
  border-radius: 500px;
  margin:5px;
  padding: 5px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.nav ul{
  width: 100%;
}

.nav ul li{
  width: 175px;
}

.section-links:hover{
  cursor: pointer;
  color: var(--section-hover)
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center{
  text-align: center;
  padding: 0;
}

.bold-text{
  font-size: x-large;
}

.margin-top{
  margin-top: 10px;
}

.title{
  color: var(--section-hover);
  border: 5px solid var(--light);
  background-color: var(--primary);
  border-radius: 500px;
  margin:5px;
  margin-bottom: 10px;
  padding: 7px;
  font-family: none;
}

.about-me{
  border: 20px, solid, var(--primary);
  width: clamp(200px, 50%, 600px) ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image{
  width: 270px;
}

.about-me div p{
  padding: 0 2.5%;
}

.submit-button {
  margin: 10px;
}

.project-desc{
  margin:0;
}

.website-a{
  height: 400px;
  width: 300px
}

figure{
  margin: 0px;
}

.project-image{
  object-fit:scale-down;
}

.project-info{
  width: 200px;
}

.project-list{
  padding: 0;
}

.section-links{
  color: var(--secondary);
  border: 5px solid var(--primary);
  background-color: var(--light);
  border-radius: 500px;
  margin:5px;
  padding: 7px;
}

.navActive {
  color: var(--section-hover);
  border: 5px solid var(--light);
  background-color: var(--primary);
  border-radius: 500px;
  margin:5px;
  padding: 7px;
}

.proficiencies-ul{
  justify-content: center;
  padding: 0;
}

.proficiencies-ul li{
  margin:20px;
}

@media (min-width: 626px) {
  .about-image{
    width: 350px;
  }

  .nav{
    width: 100%;
  }

  .flex-center{
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 845px) {
  .about-image{
    width: 375px;
  }

  .project-image{
    width: 675px;
  }
}